// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

body {
  background-color: #f2efef;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  color: #381be7;
}

a:active {
  color: #c56c24;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-link {
  color: #c56c24;
}

.btn-outline-info {
  color: #00507e;
  border-color: #00507e;
}

.btn-primary {
  background-color: $ma-dark-blue;
  border-color: $ma-dark-blue;
}

.btn-primary:hover {
  background-color: #c56c24;
  border-color: #c56c24;
}

.btn-success, .btn-success:disabled {
  background-color: #c56c24;
  border-color: #c56c24;
  color: #fff;
}

.btn-success:hover {
  background-color: lighten($ma-primary-orange, 10%);
  border-color: lighten($ma-primary-orange, 10%);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #005e81;
  border-color: #005e81;
}

.btn-success {
  color: #fff;
}

.footer {
  font-size: 14px;
  color: #ffffff;
  background-color: $ma-dark-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.autocomplete-container, .autocomplete-container .input-container input {
  height: calc(1.5em + 0.75rem + 2px) !important;
  box-shadow: none !important;
  border: 1px solid #e9ecef;
  border-radius: 2px;
}

.ngx-datatable .datatable-header {
  background-color: #005e81;
}

.ngb-dp-day {
  .bg-primary {
    background-color: #c56c24 !important;
  }
}

.ngb-dp-weekday {
  color: #005e81 !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  color: #fff;
  font-size: 14px;
}

.plan-tooltip {
  border-bottom: 1px dashed #007bc4;
  color: #414141;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
