// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: calc(100vh);
}

a {
  color: #381be7;
}

a:active {
  color: #c56c24;
}

.btn-link {
  color: #c56c24;
}

.btn-outline-info {
  color: #00507e;
  border-color: #00507e;
}

.btn-primary {
  background-color: #005e81;
  border-color: #005e81;
}

.btn-primary:hover {
  background-color: #c56c24;
  border-color: #c56c24;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #005e81;
  border-color: #005e81;
}

.btn-success {
  color: #fff;
}

.ngx-datatable .datatable-header {
  background-color: #005e81;
}

.ngb-dp-day {
  .bg-primary {
    background-color: #c56c24 !important;
  }
}

.ngb-dp-weekday {
  color: #005e81 !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  color: #fff;
  font-size: 14px;
}

.plan-tooltip {
  border-bottom: 1px dashed #007bc4;
  color: #414141;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
