<div class="container mb-5">
  <app-nav [validForm]="showEmployeeRoster" myPath="Employer Details"></app-nav>
  <div class="row pl-3 mt-4">
    <form [formGroup]="quoteForm">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Effective Date: <span class="required-field">*</span></label>
            <select class="custom-select pl-2" id="inlineFormCustomSelect" formControlName="effectiveDate">
              <option *ngFor="let date of effectiveDateOptions" [selected]="isSelected(date)" [disabled]="date.disabled">{{date.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="formGroupExampleInput">SIC Code: <span class="required-field">*</span></label>
            <ng-autocomplete
              formControlName="sic"
              [data]="sics"
              [searchKeyword]="sicKeyword"
              [itemTemplate]="sicTemplate"
              [notFoundTemplate]="sicNotFoundTemplate">
            </ng-autocomplete>

            <ng-template #sicTemplate let-item>
            <a [innerHTML]="item.standardIndustryCodeFull"></a>
            </ng-template>

            <ng-template #sicNotFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="formGroupExampleInput">Zip: <span class="required-field">*</span></label>
            <ng-autocomplete
              formControlName="zip"
              debounceTime=800
              [data]="zipcodes"
              [searchKeyword]="zipKeyword"
              (selected)='selectEvent($event)'
              (inputChanged)='zipChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              [itemTemplate]="zipTemplate"
              [notFoundTemplate]="zipNotFoundTemplate" required>
            </ng-autocomplete>

            <ng-template #zipTemplate let-zip>
            <a [innerHTML]="zip.zipCode"></a>
            </ng-template>

            <ng-template #zipNotFoundTemplate let-zipNotFound>
            <div [innerHTML]="zipNotFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="formGroupExampleInput">County:</label>
            <select class="custom-select" formControlName="county" id="countyField">
              <option *ngFor="let county of counties">{{county.county}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row"><!-- Row for employees roster text  -->
        <div class="col-md-9">
          <h2 class="heading-text">Employee Roster</h2>
          <p>Select '<strong>Add New Employee</strong>' to manually enter information about employees. Or, choose '<strong>Upload Employee Roster</strong>' to upload the employee roster template. To use this option, you will need to download the template first, then upload the completed version.  For each employee you add, you will need their:<br />- Name<br />- Date of Birth<br />- Dependent Name(s), if any<br />- Dependent Relationship(s)<br />- Dependent Date of Birth(s)</p>
        </div>
      </div><!-- End row for employees roster text  -->

      <div class="m-b-10" *ngIf="showEmployeeRoster">
        <ngx-datatable
          #censusDatatable
          class="material striped"
          [rows]="rows"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="5">

            <ngx-datatable-column name="First Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['firstName']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['lastName']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="DOB">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['dob'] | date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Plan Selection">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['coverageKind']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dependents Count">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['dependents'].length}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div ngbDropdown class="d-inline-block" container="body">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>Actions</button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem>Edit</button>
                    <button ngbDropdownItem (click)='removeEmployeeFromRoster(rowIndex)'>Delete</button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <div class="row pl-2" *ngIf="showHouseholds"><!-- Row for households  -->
        <div formArrayName="employees"><!-- Start employee forms array -->
          <div *ngFor="let employee of quoteForm.get('employees')?.controls; let i=index" [attr.employee-index]="i" id="employee-hh-card" [@fadeInOut]><!-- starts employee fields -->
            <fieldset class="household mb-3">
              <legend><h5 class="pt-2">Household {{i+1}} </h5></legend>
              <div class="row" [formGroupName]="i"><!-- Starts employee form group -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="dob">DOB <span class="required-field">*</span></label>
                    <input type="date" class="form-control" formControlName="dob" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="dob">Coverage Kind</label>
                    <select type="text" class="form-control" formControlName="coverageKind">
                      <option value="both" selected>Both</option>
                      <option value="healthOnly">Health Only</option>
                      <option value="dentalOnly">Dental Only</option>
                    </select>
                  </div>
                </div>
                <div class="pt-4">
                  <i class="fas fa-trash fa-2x" (click)="deleteEmployee(i)"></i>
                </div>
                <div class="pl-2" formArrayName="dependents"><!-- starts depenendts array -->
                  <div *ngFor="let dependent of employee.get('dependents').controls; let j=index" [@fadeInOut]>
                    <fieldset class="dependent">
                      <legend><h6 class="sub-heading-text">Dependent {{j+1}}</h6></legend>
                      <div class="row"[formGroupName]="j"><!-- starts dependents row -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="dob">DOB <span class="required-field">*</span></label>
                            <input type="date" class="form-control" formControlName="dob" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="form-group">
                            <label for="dob">Relationship</label>
                            <select type="text" class="form-control" formControlName="relationship">
                              <option *ngFor="let relation of relationOptions" [value]="relation.key">{{relation.value}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-1 pt-4">
                          <i class="fas fa-trash fa-2x" (click)="deleteDependent(employee.controls.dependents, j)"></i>
                        </div>
                      </div><!-- ends dependents row -->
                    </fieldset>
                  </div>
                </div><!-- ends depenendts array -->
                <div class="col-11">
                  <button type="button" class="btn btn-link float-right" (click)="addDependent(employee.controls.dependents)"><i class="fas fa-users"></i> Add Dependent</button>
                </div>
              </div><!-- Ends employee form group -->
            </fieldset>
          </div><!-- end employee fields -->
        </div><!-- Ends employee forms array -->
      </div><!-- End row for households  -->
      <ng-template #content let-c="close" let-d="dismiss"><!-- Template for upload roster  -->
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Upload File</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <input type="file" id="file" #file (change)="checkFilePresence(file)">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="fileUploaded(file)" type="button" class="btn btn-primary" [disabled]="true" id="file-upload-btn"><i class="fas fa-upload"></i> Upload Employee Roster </button>
        </div>
      </ng-template>
      <div class="row mt-3 form-button-group">
        <div class="col-12">
          <button class="float-left btn btn-primary" (click)="open(content)"><i class="fas fa-upload"></i> Upload Employee Roster</button> <button (click)="addEmployee()" class="float-right btn btn-primary"><i class="fas fa-user-plus"></i> Add New Employee</button>
          <!-- <button class="btn btn-danger" *ngIf="showEmployeeRoster" (click)="resetForm()"><i class="fas fa-redo"></i> Reset Form</button> -->
        </div>
        <div class="col-12 mt-2" *ngIf="!showEmployeeRoster">
          <button class="float-right btn btn-primary" (click)="createRoster()" [disabled]="!quoteForm.value.employees.length > 0 || !quoteForm.valid">Create Roster</button>
        </div>
        <div class="col-12 mt-2" *ngIf="showEmployeeRoster">
          <a class="float-right btn btn-success" routerLink="/employer-details/health"><i class="fas fa-check"></i> View Plans</a>
        </div>
      </div>
    </form>
  </div>
</div>
