<ng-container *ngIf="isLateRates">
  <ng-container *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" *ngIf="alert.enabled" (close)="close(alert)">{{ alert.message }}</ngb-alert>
  </ng-container>
</ng-container>
<div class="container mb-5 mt-3">
  <app-nav [validForm]="showEmployeeRoster" myPath="Employer Details"></app-nav>
  <div class="row pl-3 mt-4">
    <form [formGroup]="quoteForm">
      <div class="row mb-2">
        <div class="col-12">
          <h2 class="heading-text">Employer Information</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="effectiveDate">Effective Date: <span class="required-field">*</span></label>
            <select
              class="custom-select pl-2"
              id="inlineFormCustomSelect"
              formControlName="effectiveDate"
              id="effectiveDate"
              (change)="updateEffectiveDate($event.target.value)"
            >
              <option selected>SELECT DATE</option>
              <option
                *ngFor="let date of effectiveDateOptions"
                [selected]="isSelected(date)"
                [disabled]="date.disabled"
                [attr.value]="date"
                >{{ date | date: 'MMMM, y' }}</option
              >
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- TODO: ME do not support SIC Codes. Add a flag and ignore this div later. -->
        <!-- <div class="col-3">
          <div class="form-group"> -->
            <!-- <label for="sicInput">SIC Code: <span class="required-field">*</span></label>
            <ng-autocomplete
              id="sicInput"
              formControlName="sic"
              name="sic"
              [data]="sics"
              [searchKeyword]="sicKeyword"
              [itemTemplate]="sicTemplate"
              [notFoundTemplate]="sicNotFoundTemplate"
              class="inout-fix"
              (selected)="updateSic($event)"
              (inputChanged)="updateChangedSic($event)"
            >
            </ng-autocomplete>

            <ng-template #sicTemplate let-item>
              <a [innerHTML]="item.standardIndustryCodeFull"></a>
            </ng-template>

            <ng-template #sicNotFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template> -->
          <!-- </div>
        </div>
        <div class="sic-col-1 pr-2">
          <i class="fas fa-question mt-4 fa-lg pt-3" (click)="show = !show"></i>
        </div> -->
        <div class="col-3">
          <div class="form-group">
            <label for="zip">Business ZIP Code: <span class="required-field">*</span></label>
            <ng-autocomplete
              formControlName="zip"
              id="zip"
              name="zip"
              debounceTime="800"
              [data]="zipcodes"
              [searchKeyword]="zipKeyword"
              (selected)="selectEvent($event)"
              (inputChanged)="zipChangeSearch($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="zipTemplate"
              [notFoundTemplate]="zipNotFoundTemplate"
              required
            >
            </ng-autocomplete>

            <ng-template #zipTemplate let-zip>
              <a [innerHTML]="zip"></a>
            </ng-template>

            <ng-template #zipNotFoundTemplate let-zipNotFound>
              <div [innerHTML]="zipNotFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="countyField">County:</label>
            <select formControlName="county" class="custom-select" id="countyField" (change)="updateCounty($event)">
              <option *ngFor="let county of counties" [value]="county.county">{{ county.county }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5>Search for your matching SIC Code</h5>
              <p class="pt-2 mb-0">
                SIC (Standard Industrial Classifications) code are used to categorize your business into the appropriate
                rating group
              </p>
              <p>
                You can use the browse or search through all the available code -- click a SIC code to make a selection
              </p>
              <app-dropdown-treeview-select></app-dropdown-treeview-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Row for employees roster text  -->
        <div class="col-md-12 mb-3">
          <h2 class="heading-text">Employee Roster</h2>
          <p>
            Select '<strong>Add Employee</strong>' to manually enter information about employees. Or, choose '<strong
              >Upload Employee Roster</strong
            >' to upload the employee roster template. To use this option, you will need to download the template first,
            then upload the completed version. <br />For each employee you add, you will need their:
          </p>
          <ul>
            <li *ngFor="let detail of employeeRosterDetails">{{ detail }}</li>
          </ul>
          <p>
            Note: You may use this complete roster download when you apply.
          </p>
          <button type="button" class="btn btn-link">
            <a href="/get-a-quote/assets/roster_upload_template.xlsx" download
              ><i class="fas fa-download"></i> Download Roster Template</a
            >
          </button>
        </div>
      </div>
      <!-- End row for employees roster text  -->

      <div class="m-b-10" *ngIf="showEmployeeRoster">
        <ngx-datatable
          #censusDatatable
          class="material striped mt-1"
          [rows]="rows"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="5"
        >
          <ngx-datatable-column name="First Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['firstName'] }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Last Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['lastName'] }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="DOB">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['dob'] | date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Coverage Type">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['coverageKind'] | coverageType }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dependent Count">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row['dependents'].length }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div ngbDropdown class="d-inline-block" container="body">
                <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                  Actions
                </button>
                <div ngbDropdownMenu>
                  <button type="button" ngbDropdownItem (click)="editEmployee(rowIndex)">
                    Edit
                  </button>
                  <button type="button" ngbDropdownItem (click)="removeEmployeeFromRoster(rowIndex)">
                    Delete
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <div class="row pl-2" *ngIf="showEditHousehold">
        <form [formGroup]="editEmployeeForm">
          <div [@fadeInOut]>
            <fieldset class="household mb-3">
              <legend><h5 class="pt-2">Edit Household</h5></legend>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="dob">DOB <span class="required-field">*</span></label>
                    <input
                      placeholder="mm/dd/yyyy"
                      (input)="formatInputDate($event)"
                      class="form-control"
                      formControlName="dob"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      (click)="d.toggle()"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="coverageKind">Coverage Kind <span class="required-field">*</span></label>
                    <select type="text" class="form-control" formControlName="coverageKind">
                      <option value="both" selected>Both</option>
                      <option value="healthOnly">Health Only</option>
                      <option value="dentalOnly">Dental Only</option>
                    </select>
                  </div>
                </div>
                <div class="pl-2" formArrayName="dependents">
                  <div
                    *ngFor="let dependent of editEmployeeForm.get('dependents')?.controls; let j = index"
                    [@fadeInOut]
                  >
                    <fieldset class="dependent">
                      <legend>
                        <h6 class="sub-heading-text">Dependent {{ j + 1 }}</h6>
                      </legend>
                      <div class="row" [formGroupName]="j">
                        <div class="col-3">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="firstName"
                              placeholder="First Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="lastName"
                              placeholder="Last Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="dob">DOB <span class="required-field">*</span></label>
                            <input
                              placeholder="mm/dd/yyyy"
                              (input)="formatInputDate($event)"
                              class="form-control"
                              formControlName="dob"
                              ngbDatepicker
                              #d="ngbDatepicker"
                              (click)="d.toggle()"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="form-group">
                            <label for="relationship">Relationship <span class="required-field">*</span></label>
                            <select type="text" class="form-control" formControlName="relationship">
                              <option *ngFor="let relation of relationOptions" [value]="relation.key">{{
                                relation.value
                              }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-1 pt-4">
                          <i
                            class="fas fa-trash fa-2x"
                            (click)="deleteDependent(editEmployeeForm.controls.dependents, j)"
                          ></i>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="col-11">
                  <button
                    type="button"
                    class="btn btn-link float-right"
                    (click)="addDependent(editEmployeeForm.controls.dependents)"
                  >
                    <i class="fas fa-users"></i> Add Dependent
                  </button>
                </div>

                <div class="col-12">
                  <button type="button" class="float-right btn btn-primary" (click)="this.showEditHousehold = false">
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="float-right btn btn-primary"
                    [disabled]="validateEmployeeEditForm()"
                    (click)="updateEmployee()"
                  >
                    Update Employee
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>

      <div class="row pl-2" *ngIf="showNewEmployee">
        <form [formGroup]="addNewEmployeeForm">
          <div [@fadeInOut]>
            <fieldset class="household mb-3">
              <legend><h5 class="pt-2">Add Employee</h5></legend>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="dob">DOB <span class="required-field">*</span></label>
                    <input
                      placeholder="mm/dd/yyyy"
                      (input)="formatInputDate($event)"
                      class="form-control"
                      formControlName="dob"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      (click)="d.toggle()"
                      required
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="coverageKind">Coverage Kind <span class="required-field">*</span></label>
                    <select type="text" class="form-control" formControlName="coverageKind">
                      <option value="both" selected>Both</option>
                      <option value="healthOnly">Health Only</option>
                      <option value="dentalOnly">Dental Only</option>
                    </select>
                  </div>
                </div>
                <div class="pl-2" formArrayName="dependents">
                  <div
                    *ngFor="let dependent of addNewEmployeeForm.get('dependents')?.controls; let j = index"
                    [@fadeInOut]
                  >
                    <fieldset class="dependent">
                      <legend>
                        <h6 class="sub-heading-text">Dependent {{ j + 1 }}</h6>
                      </legend>
                      <div class="row" [formGroupName]="j">
                        <div class="col-3">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="firstName"
                              placeholder="First Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="lastName"
                              placeholder="Last Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="dob">DOB <span class="required-field">*</span></label>
                            <input
                              placeholder="mm/dd/yyyy"
                              (input)="formatInputDate($event)"
                              class="form-control"
                              formControlName="dob"
                              ngbDatepicker
                              #d="ngbDatepicker"
                              (click)="d.toggle()"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="form-group">
                            <label for="relationship">Relationship <span class="required-field">*</span></label>
                            <select type="text" class="form-control" formControlName="relationship">
                              <option *ngFor="let relation of relationOptions" [value]="relation.key">{{
                                relation.value
                              }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-1 pt-4">
                          <i
                            class="fas fa-trash fa-2x"
                            (click)="deleteDependent(addNewEmployeeForm.controls.dependents, j)"
                          ></i>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="col-11">
                  <button
                    type="button"
                    class="btn btn-link float-right"
                    (click)="addDependent(addNewEmployeeForm.controls.dependents)"
                  >
                    <i class="fas fa-users"></i> Add Dependent
                  </button>
                </div>

                <div class="col-12">
                  <button class="float-right btn btn-primary" type="button" (click)="this.showNewEmployee = false">
                    Cancel
                  </button>
                  <button
                    class="float-right btn btn-primary"
                    type="button"
                    [disabled]="!addNewEmployeeForm.valid"
                    (click)="saveNewEmployee(i)"
                  >
                    Save Employee
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>

      <div class="row pl-2" *ngIf="showHouseholds">
        <!-- Row for households  -->
        <div formArrayName="employees">
          <!-- Start employee forms array -->
          <div
            *ngFor="let employee of quoteForm.get('employees')?.controls; let i = index"
            [attr.employee-index]="i"
            id="employee-hh-card"
            [@fadeInOut]
          >
            <!-- starts employee fields -->
            <fieldset class="household mb-3">
              <legend>
                <h5 class="pt-2">Employee {{ i + 1 }}</h5>
              </legend>
              <div class="row" [formGroupName]="i">
                <!-- Starts employee form group -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="dob">DOB <span class="required-field">*</span></label>
                    <input
                      placeholder="mm/dd/yyyy"
                      (input)="formatInputDate($event)"
                      class="form-control"
                      formControlName="dob"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      (click)="d.toggle()"
                      required
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="coverageKind">Coverage Type <span class="required-field">*</span></label>
                    <select type="text" class="form-control" formControlName="coverageKind">
                      <option value="both" selected>Both</option>
                      <option value="healthOnly">Health Only</option>
                      <option value="dentalOnly">Dental Only</option>
                    </select>
                  </div>
                </div>
                <div class="pt-4">
                  <i class="fas fa-trash fa-2x" (click)="deleteEmployee(i)"></i>
                </div>
                <div class="pl-2" formArrayName="dependents">
                  <!-- starts depenendts array -->
                  <div *ngFor="let dependent of employee.get('dependents').controls; let j = index" [@fadeInOut]>
                    <fieldset class="dependent">
                      <legend>
                        <h6 class="sub-heading-text">Dependent {{ j + 1 }}</h6>
                      </legend>
                      <div class="row" [formGroupName]="j">
                        <!-- starts dependents row -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="firstName"
                              placeholder="First Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="lastName"
                              placeholder="Last Name"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="form-group">
                            <label for="dob">DOB <span class="required-field">*</span></label>
                            <input
                              placeholder="mm/dd/yyyy"
                              (input)="formatInputDate($event)"
                              class="form-control"
                              formControlName="dob"
                              ngbDatepicker
                              #d="ngbDatepicker"
                              (click)="d.toggle()"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="form-group">
                            <label for="relationship">Relationship <span class="required-field">*</span></label>
                            <select type="text" class="form-control" formControlName="relationship">
                              <option *ngFor="let relation of relationOptions" [value]="relation.key">{{
                                relation.value
                              }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-1 pt-4">
                          <i class="fas fa-trash fa-2x" (click)="deleteDependent(employee.controls.dependents, j)"></i>
                        </div>
                      </div>
                      <!-- ends dependents row -->
                    </fieldset>
                  </div>
                </div>
                <!-- ends depenendts array -->
                <div class="col-11">
                  <button
                    type="button"
                    class="btn btn-link float-right"
                    (click)="addDependent(employee.controls.dependents)"
                  >
                    <i class="fas fa-users"></i> Add Dependent
                  </button>
                </div>
              </div>
              <!-- Ends employee form group -->
            </fieldset>
          </div>
          <!-- end employee fields -->
        </div>
        <!-- Ends employee forms array -->
      </div>
      <!-- End row for households  -->
      <ng-template #content let-c="close" let-d="dismiss"
        ><!-- Template for upload roster  -->
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Upload File</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <input type="file" id="file" #file (change)="checkFilePresence(file)" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="fileUploaded(file)"
            type="button"
            class="btn btn-primary"
            [disabled]="true"
            id="file-upload-btn"
          >
            <i class="fas fa-upload"></i> Upload Employee Roster
          </button>
        </div>
      </ng-template>
      <div class="row mt-3 form-button-group">
        <div class="col-12">
          <button
            type="button"
            class="float-left btn btn-primary upload-employee-roster"
            (click)="open(content)"
            *ngIf="!showEmployeeRoster"
          >
            <i class="fas fa-upload"></i> Upload Employee Roster
          </button>
          <button
            type="button"
            (click)="addEmployee()"
            class="btn btn-primary add-new-employee"
            *ngIf="!showEmployeeRoster"
          >
            <i class="fas fa-user-plus"></i> Add Employee
          </button>
          <button
            type="button"
            (click)="addNewEmployee()"
            class="btn btn-primary add-new-employee"
            *ngIf="showEmployeeRoster"
          >
            <i class="fas fa-user-plus"></i> Add Employee
          </button>
          <button
            type="button"
            class="btn btn-success create-roster"
            (click)="createRoster()"
            [disabled]="!quoteForm.valid"
            *ngIf="!showEmployeeRoster"
          >
            <i class="fas fa-users"></i> Save Roster
          </button>
          <a
            class="float-right btn btn-success view-plans-button"
            routerLink="/employer-details/health"
            *ngIf="showEmployeeRoster"
            ><i class="fas fa-check"></i> View Plans</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
