@import '../../../src/assets/scss/variable';

a {
  color: #005e81;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

a:hover {
  color: $client-bg-color-lighten;
}

a.active {
  color: $client-bg-color-lighten;
  text-decoration: underline;
}
