<div class="container mt-3">
  <app-nav [validForm]="true" myPath="Health"></app-nav>
  <div class="row" *ngIf="isMAState">
    <div class="col-12 mt-2">
      <p class="main-text">
        Select a benefit model to view the plans available to you.
        <span
          class="plan-tooltip"
          placement="bottom"
          ngbTooltip="Employer chooses a single health plan and all employees will enroll in that same plan."
          >One Plan</span
        >
        allows you to offer one plan from one health plan to your employees.
        <span
          class="plan-tooltip"
          placement="bottom"
          ngbTooltip="Employer chooses an insurance company (carrier). Employees can choose any plan from that carrier at the Platinum, Gold, or Silver level."
          >One Carrier</span
        >
        allows you to offer a range of plans from a single health insurance company (carrier).
        <span
          class="plan-tooltip"
          placement="bottom"
          ngbTooltip="Employer chooses a Gold or Silver metal level. Employees can choose a plan from any insurance company (carrier) at the level."
          >One Level</span
        >
        allows you to offer plans of a specific benefit level (gold or silver) across all available health insurers.
        Learn more about our
        <a href="https://www.mahealthconnector.org/business/employers/employee-choice" target="_blank">benefit models</a
        >.<br /><br />
        <i class="fas fa-sticky-note pr-2 fa-lg"></i>
        <strong
          >Note: The rates displayed for plans here represent 100% employer contribution to plan premium. You can choose
          to contribute less when you apply.
        </strong>
      </p>
      <strong
        ><i class="fas fa-stethoscope mr-2"></i
        ><a href="https://ma.checkbookhealth.org/mashop/index.cfm" target="_blank">Find My Doctor</a></strong
      >
    </div>
  </div>
  <app-plan-filter [carrierPlans]="carriers" planType="health"></app-plan-filter>
</div>
