<div class="container">
  <app-nav [validForm]="true" myPath="Dental"></app-nav>
  <div class="row">
    <div class="col-12 mt-2">
      <p class="main-text">
        Choose any dental plan from a single dental insurance carrier to offer for all employees. All available plans
        are displayed below. Learn more about our
        <a href="https://www.mahealthconnector.org/business/employers/employee-choice" target="_blank">benefit models</a
        >.<br /><br />The monthly cost displayed here is based on 100% employer contribution to plan premiums.
      </p>
      <strong
        ><i class="fas fa-stethoscope mr-2"></i
        ><a href="https://ma.checkbookhealth.org/mashop/index.cfm">Find My Doctor</a></strong
      >
    </div>
  </div>
  <app-plan-filter [carrierPlans]="carriers" planType="dental"></app-plan-filter>
</div>
