.main-header {
  background-color: #ffffff;
  border-bottom: solid 3px #005e81;
  min-height: 50px;
}

.navbar {
  padding: 0px;
}

.main-link {
  font-weight: 600;
  color: #5c5c5c;
  font-size: 18px;
}

.navbar-brand {
  border-right: solid 1px #d7d7d7;
}
